---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
<!--         <div>
            <img src="{{ site.url }}/assets/img/designs/white-water.png" style="width:300px;height:300px;">
        </div> -->

        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <figure class="third">
                    <figcaption>Photorealism: Visual Manipulation</figcaption>
                    <img src="{{ site.url }}/assets/img/designs/white-water.png">
                    <img src="{{ site.url }}/assets/img/designs/moon-2.png">
                    <img src="{{ site.url }}/assets/img/designs/mountain-pixel.png">
                </figure>
                <figure class="third">
                    <figcaption>Abstractions: Light Simulations</figcaption>
                    <img src="{{ site.url }}/assets/img/designs/clouds.png">
                    <img src="{{ site.url }}/assets/img/designs/purple.png">
                    <img src="{{ site.url }}/assets/img/designs/triangle-clouds.png">
                </figure>
                <figure class="third">
                    <figcaption>Structural: Geometric Harmonies</figcaption>
                    <img src="{{ site.url }}/assets/img/designs/flower.jpg">
                    <img src="{{ site.url }}/assets/img/designs/contour.jpg">
                    <img src="{{ site.url }}/assets/img/designs/flower-cut.png">
                </figure>
                <figure class="third">
                    <figcaption>Experimental: Extension Technologies</figcaption>
                    <img src="{{ site.url }}/assets/img/designs/ae-flowers.png">
                    <img src="{{ site.url }}/assets/img/designs/baby-smoke.png">
                    <img src="{{ site.url }}/assets/img/designs/flower-neon-6.png">
                </figure>
                <figure class="third">
                    <figcaption>Commercial: Student Organizations</figcaption>
                    <img src="{{ site.url }}/assets/img/designs/newbie-arch-4.png">
                    <img src="{{ site.url }}/assets/img/designs/puso.png">
                    <img src="{{ site.url }}/assets/img/designs/SS_Energy.png">
                </figure>
<!--                 <div> 
                    <a href="#"><img src="{{ site.url }}/assets/img/designs/white-water.png" style="float:left;width:200px;height:200px;"></a>
                    <a href="#"><img src="{{ site.url }}/assets/img/designs/moon-2.png" style="float:middle;width:200px;height:200px;"></a>
                    <a href="#"><img src="{{ site.url }}/assets/img/designs/mountain-pixel.png" style="float:right;width:200px;height:200px;"></a>
                </div> -->
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
